.ui.borderless.topmenu{
  border: 0;
  box-shadow: 0 0;
  border-radius: 0 0;
  background: #21ba45;
}

.ui.borderless.topmenu a{
  color: white;
}

.mainImage{
  background: url("../public/team.jpg") no-repeat;
  min-height: 500px;
  padding-top: 8em;
  background-size: cover;
}

h1, h2, h3, p, a {
  color: black;
}

.footer {
  background: #004030;
}
